h1 {
    font-size: 2em;
    text-align: center;
    # background-color: aliceblue;

}

h2 {
    # font-family: serif;
    % padding: 1%;
    # color: brow;
    text-align: left;
    # border-spacing: 15px;
    # display: block;
    # font-size: 1.5em;
    # margin-top: 1em;
    # margin-bottom: 1em;

}

p {
    font-family: serif;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
    text-justify: inter-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
}




header nav {
    background: #3c9e96;
    font: serif;
    width: 90%;
    margin: auto;
    border-radius: 0px 0px 5px 5px;
    overflow: hidden
}

header nav ul {
    list-style: none;
}

header nav ul li {
    padding: 5px;
    float: left;
}

.f {
    float: left;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);


}









.main {
    width: 70%;
    float: left;
    # background: rgba(217, 228, 228, 0.795);
}


article {
    padding: 30px;
    border-radius: 5px;
    background: #0120202f;
    margin: 20px;
    color: rgb(5, 34, 88);
    z-index: 999;
    # margin-bottom: 1%;
}

aside {
    width: 30%;
    margin: 0px;
    #background: rgba(217, 228, 228, 0.795);
    float: right
}


blockquote {
    border-radius: 5px;
    background: #5d76c0d1;
    padding: 30px;
    margin: 20px 20px 0px 0px;
}

footer {
    clear: both;
    margin: 20px auto;
    # border-radius: 10px;
}






.container-form {
    width: 100%;
    max-width: 70%;
    background: rgba(51, 51, 51, 0.103);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 30px;
    border-radius: 2px;
    #overflow: hidden;
}



.header {
    background: #1a40be23;
    display: flex;
    height: 50px;
    border-radius: 2px 2px 0px 0px;
}





.logo-title img {
    margin-top: 0.2em;
    # border-radius: 7px;
    margin-left: 0.2em;
    width: 80px;
    height: 45px;
}


.menu {
    display: flex;
    position: absolute;
    right: 0px;
    top: 0px;
}

/*iniciar secion y registrarse*/
.menu li {
    list-style: none;
    padding: 15px 10px 15px 10px;
}

.menu li:hover {
    border-bottom: 3px solid #fff;
    cursor: pointer;
}

/*inicio de sesion y registro*/
a {
    color: rgb(255, 255, 255);
    font-weight: 900;
    text-decoration: none;
}

/*formulario Login*/


.form {
    width: 100%;
}

.form .welcome-form {
    display: flex;
    justify-content: center;
}



/*word magtimus*/
.form .welcome-form h3 {
    font-size: 34px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 15px 0px -15px 0px;
    # background: rosybrown;
}

/*lineas*/
.line-input {
    max-width: 350px;
    display: flex;
    border-bottom: 1px solid white;
    margin: auto;
    margin-top: 30px;
    padding: 6px;
    position: relative;
}

.border-input {
    border-bottom: 1px solid #5584FF;
}

.line-input input {
    border-style: none;
    outline: 0px;
    margin-left: 10px;
    border-radius: 3px;
    width: 100%;
    padding: 5px;
    font-weight: 300;
}

/*iconos*/
.line-input label {
    font-size: 22px;
    position: relative;
    top: 3px;
    color: white;
}

.form button {
    width: 50%;
    height: 30px;
    display: block;
    margin: auto;
    margin-top: 30px;
    color: white;
    background: #5584FF;
    border-style: none;
    outline: 0px;
    border-radius: 50px;
    font-family: serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.form button:hover {
    opacity: .85;
}

/* boton > */
.form button label {
    position: relative;
    left: 50px;
    font-size: 10px;
    cursor: pointer;
}


.mensaje {
    width: 100%;
    max-width: 350px;
    margin: auto;
    margin-top: 20px;
    text-align: left;
    padding: 6px;
    color: red;
}


.active {
    border-bottom: 3px solid rgb(0, 2, 104);
}